@using EntityLayer.Concrete
@model List<Content>
@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<br />
<h2 style="text-align:center">Girilen tüm entry'ler içinde arama yapma</h2>
<br />
@using (Html.BeginForm("GetAllContent", "Content", FormMethod.Post))
{

    <p style="text-align:center">
        Aranacak Kelimeyi Girin:@Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<br />
<br />

@foreach (var item in Model)
{
    <p style="text-align:center">-| @item.ContentValue | </p>
}